@charset "UTF-8";

.img-circle {
    border-radius: 50%;
    background-color: #fff;
    width: 100px;
    height: 100px;
    max-width: none;
    cursor:pointer;
    float:left;
}
.img-edit{
	cursor:pointer;
}

.review-img-circle {
    border-radius: 50%;
    background-color: #fff;
    width: 50px;
    height: 50px;
    max-width: none;
}
/*
.my-circle{
	text-align:center;
	line-height : 100px;
	float:left;
}

.my-circle::after{
   content:'';
   display:block;
   clear:both;
}
.my-user{
	clear:both;
}
*/
/*
.badge-carrot {
	all: unset;
	font-size: 15px;
	color: darkgray;
	outline: solid darkgray 1px;
	padding: 3px 7px;
	border-radius: 12px;
	margin-left: 10px;
}
.badge-carrot:hover {
	color: white;
	background-color: orange;
}
*/
#user_login_form>.btn-primary:hover {
	background-color: #343a40;
}

.btn-carrot{
	color: white;
	background-color: orange;
}
.btn-carrot:hover {
	color: darkgray;
}

.badge-carrot {
    color: #fff;
    background-color: orange;
}
/* review_image_upload *******************/
/* 
#review_write_form>#drop:hover {
	background-color: orange;
}
 */
.drag-over {
	background-color: orange;
}

.thumb {
	width: 200px;
	padding: 5px;
	float: left;
}

.thumb>img {
	width: 100%;
}

.thumb>.close {
	position: absolute;
	background-color: red;
	cursor: pointer;
}
.thumb>.delete {
	position: absolute;
	background-color: red;
	cursor: pointer;
}
/* loading ****/
